@font-face {
    font-family: Rich;
    src: url("/fonts/Rich.ttf") format("truetype");
}

@font-face {
    font-family: wsBind;
    src: url("/fonts/wsBind.ttf") format("truetype");
}

@font-face {
    font-family: Urban;
    src: url("/fonts/Urban.otf") format("opentype");
}

@font-face {
    font-family: Azonix;
    src: url("/fonts/Azonix.otf") format("opentype");
}

@font-face {
    font-family: rocer-zonk;
    src: url("/fonts/rocer-zonk.otf") format("opentype");
}

@font-face {
    font-family: stoked;
    src: url("/fonts/stoked.ttf") format("truetype");
}

@font-face {
    font-family: Marisa;
    src: url("/fonts/Marisa.otf") format("opentype");
}

@font-face {
    font-family: Nordic;
    src: url("/fonts/Nordic.ttf") format("truetype");
}
@font-face {
    font-family: Arkhip;
    src: url("/fonts/Arkhip.ttf") format("truetype");
}
@font-face {
    font-family: Prime;
    src: url("/fonts/Prime.ttf") format("truetype");
}
@font-face {
    font-family: FiraCode;
    src: url("/fonts/FiraCode.ttf") format("truetype");
}
@font-face {
    font-family: MPLUS1Code;
    src: url("/fonts/MPLUS1Code.ttf") format("truetype");
}
@font-face {
    font-family: JetBrainsMono;
    src: url("/fonts/JetBrainsMono.ttf") format("truetype");
}

@font-face {
    font-family: HexaframeCF-Regular;
    src: url("/fonts/HexaframeCF-Regular.ttf") format("truetype");
}
@font-face {
    font-family: HexaframeCF-RegularOblique;
    src: url("/fonts/HexaframeCF-RegularOblique.ttf") format("truetype");
}
@font-face {
    font-family: Hackonedash;
    src: url("/fonts/Hackonedash.ttf") format("truetype");
}
@font-face {
    font-family: Hackone;
    src: url("/fonts/Hackone.ttf") format("truetype");
}
@font-face {
    font-family: Vobca-Black;
    src: url("/fonts/Vobca-Black.otf") format("opentype");
}
@font-face {
    font-family: Vobca-Light;
    src: url("/fonts/Vobca-Light.otf") format("opentype");
}
@font-face {
    font-family: Vobca-Regular;
    src: url("/fonts/Vobca-Regular.otf") format("opentype");
}
@font-face {
    font-family: Vobca-Thin;
    src: url("/fonts/Vobca-Thin.otf") format("opentype");
}