.glass-card {
background: rgba(4, 27, 30, 0.89);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.5px);
-webkit-backdrop-filter: blur(4.5px);
border: 1px solid rgba(4, 27, 30, 0.11);
}