body {
    --s: 25vmin;
    --p: calc(var(--s) / 2);
    --c1: pink;
    --c2: dodgerblue;
    --c3: white;
    --d: 4000ms;
    --e: cubic-bezier(0.76, 0, 0.24, 1);

    background-color: var(white);
    background-image:
        linear-gradient(45deg, pink 25%, transparent 25%),
        linear-gradient(-45deg, pink 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, dodgerblue 75%),
        linear-gradient(-45deg, transparent 75%, dodgerblue 75%);
    background-size: var(25vmin) var(25vmin);
    background-position:
        calc(calc(25vmin/ 2) * 1) calc(calc(25vmin/ 2) * 0),
        calc(calc(25vmin/ 2) * -1) calc(calc(25vmin/ 2) * 1),
        calc(calc(25vmin/ 2) * 1) calc(calc(25vmin/ 2) * -1),
        calc(calc(25vmin/ 2) * -1) calc(calc(25vmin/ 2) * 0);
    animation:
        color 4000ms cubic-bezier(0.76, 0, 0.24, 1) infinite,
        position 4000ms cubic-bezier(0.76, 0, 0.24, 1) infinite;
}

@keyframes color {

    0%,
    25% {
        white: var(--c3);
    }

    26%,
    50% {
        white: rgb(217, 255, 192);
    }

    51%,
    75% {
        white: var(--c3);
    }

    76%,
    100% {
        white: rgb(255, 150, 30);
    }
}

@keyframes position {
    0% {
        background-position:
            calc(calc(25vmin/ 2) * 1) calc(calc(25vmin/ 2) * 0),
            calc(calc(25vmin/ 2) * -1) calc(calc(25vmin/ 2) * 1),
            calc(calc(25vmin/ 2) * 1) calc(calc(25vmin/ 2) * -1),
            calc(calc(25vmin/ 2) * -1) calc(calc(25vmin/ 2) * 0);
    }

    25% {
        background-position:
            calc(calc(25vmin/ 2) * 1) calc(calc(25vmin/ 2) * 4),
            calc(calc(25vmin/ 2) * -1) calc(calc(25vmin/ 2) * 5),
            calc(calc(25vmin/ 2) * 1) calc(calc(25vmin/ 2) * 3),
            calc(calc(25vmin/ 2) * -1) calc(calc(25vmin/ 2) * 4);
    }

    50% {
        background-position:
            calc(calc(25vmin/ 2) * 3) calc(calc(25vmin/ 2) * 8),
            calc(calc(25vmin/ 2) * -3) calc(calc(25vmin/ 2) * 9),
            calc(calc(25vmin/ 2) * 2) calc(calc(25vmin/ 2) * 7),
            calc(calc(25vmin/ 2) * -2) calc(calc(25vmin/ 2) * 8);
    }

    75% {
        background-position:
            calc(calc(25vmin/ 2) * 3) calc(calc(25vmin/ 2) * 12),
            calc(calc(25vmin/ 2) * -3) calc(calc(25vmin/ 2) * 13),
            calc(calc(25vmin/ 2) * 2) calc(calc(25vmin/ 2) * 11),
            calc(calc(25vmin/ 2) * -2) calc(calc(25vmin/ 2) * 12);
    }

    100% {
        background-position:
            calc(calc(25vmin/ 2) * 5) calc(calc(25vmin/ 2) * 16),
            calc(calc(25vmin/ 2) * -5) calc(calc(25vmin/ 2) * 17),
            calc(calc(25vmin/ 2) * 5) calc(calc(25vmin/ 2) * 15),
            calc(calc(25vmin/ 2) * -5) calc(calc(25vmin/ 2) * 16);
    }
}

@media (prefers-reduced-motion) {
    body {
        animation: none;
    }
}